* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	margin-left:0px;
	padding-left:0px;
	padding-top:0px;
	left:0px;
}

body {
	background-color: rgb(200, 200, 200);
}
h1 {
  padding-top: 50px;
}
.wrapper {
  height: 500px;
	text-align: center;
	font-family: "Candal", Arial, Sans-serif;
	background-color: white;
	min-height: 250px;
	max-width: 90%;
	margin: 20px auto;
	border-radius: 15px;
	box-shadow: 0 0 10px 5px;
}
#doc {
  font-size: 2.5em;
	padding-top: 20px;
}

input[type=range] {
  width: 50%;
  margin: 50px auto;

}


/*FOOOOOOOOTER STUFFFFFF */

footer {
  bottom: 0;
  left: 0;
  text-align: center;
  clear: both;
  background-color: black;
  color: white;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 0;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 -10px 20px -7px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 -10px 20px -7px rgba(0,0,0,0.8);
  box-shadow: 0 -10px 20px -7px rgba(0,0,0,0.8);
}

footer .social_media {
    margin: 0 auto;
    display: block;
}

footer p {
  padding-top: 15px;
  text-align: middle;
  display: inline-block;
  margin: 0 auto;
  
}
footer .social {
  display: inline-block;
  height: 60px;
  width: 60px;
  padding: 10px;
}



